@import 'src/styles/variables';

:host {
  display: flex;
  align-items: flex-start;
}

table {
  min-width: initial;
  width: 50%;

  &:first-child {
    margin-right: 24px;
  }
}

th {
  color: $table-header-text;
}
