@import 'src/styles/variables';

form {
  display: flex;
  align-items: center;
}

[type=submit] {
  text-transform: uppercase;
}

.symbols {
  display: flex;
  align-items: center;

  &,
  mat-form-field {
    flex: 1;
  }

  &,
  button {
    margin: 0 24px;
  }
}

.conversion {
  text-align: center;
  margin-top: 32px;
}

app-rate-history {
  display: block;
  margin-top: 48px;
  text-align: initial;
}

.result {
  font-size: 48px;

  span {
    color: $accent;
  }
}
