@import 'src/styles/variables';

form {
  display: flex;
  align-items: center;
}

.symbols {
  display: flex;
  align-items: center;

  &,
  mat-form-field {
    flex: 1;
  }

  &,
  button {
    margin: 0 24px;
  }
}

.conversion {
  text-align: center;
  margin-top: 32px;
}

.result {
  font-size: 48px;

  span {
    color: $accent;
  }
}

:host {
  ::ng-deep {
    .mdc-text-field {
      background-color: transparent;
    }
  }
}
