@import 'src/styles/variables';

$actions: 'mat-cell:last-of-type span';

mat-header-cell {
  color: $table-header-text;
}

#{$actions} {
  display: none;
  align-items: center;
  cursor: pointer;
}

mat-row:hover #{$actions} {
  display: flex;
}
