<h2 class="section-title">Exchange History</h2>
<div class="controls">
  <mat-form-field>
    <mat-label>Duration</mat-label>
    <mat-select [(ngModel)]="range" (ngModelChange)="updateTimeseries()">
      <mat-option *ngFor="let range of ranges" [value]="range.value">{{ range.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-radio-group color="primary" [(ngModel)]="view">
    <mat-radio-button value="TABLE">Table</mat-radio-button>
    <mat-radio-button value="CHART">Chart</mat-radio-button>
  </mat-radio-group>
</div>
<app-rate-trend-table *ngIf="view === 'TABLE'" [timeseries]="timeseries"></app-rate-trend-table>
<app-rate-trend-chart *ngIf="view === 'CHART'" [baseSymbol]="from" [targetSymbol]="to" [timeseries]="timeseries"></app-rate-trend-chart>
