<table mat-table [dataSource]="timeseries">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let item">{{ item.date }}</td>
  </ng-container>
  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef>Exchange Rate</th>
    <td mat-cell *matCellDef="let item">{{ item.rate }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedTimeseriesColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedTimeseriesColumns"></tr>
</table>
<table mat-table [dataSource]="statistics">
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Statistics</th>
    <td mat-cell *matCellDef="let item">{{ item.label }}</td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">{{ item.value }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedStatisticsColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedStatisticsColumns"></tr>
</table>
